.hero__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
}

.about-page {
    
    img {
        height: 100%;
        width: 100%;
        z-index: 47;
    }
    .about__tittle {
        font-size: 72px;
        position: relative;
        bottom: 850px;
        left: 600px;
        width: 400px;
        
    }
}

.project-page {
    
    img {
        height: 100%;
        width: 100%;
        z-index: 47;
    }
    .about__tittle {
        font-size: 72px;
        position: relative;
        bottom: 750px;
        left: 600px;
        width: 300px;
        
    }
}

