



        #git {
            height: 48pc;
            width: 48px;
        }
        
        #li {
            height: 36px;
            width: 36px;
        }

        #cv {
            height: 34px;
            width: 34px;
        }